$sidebar-theme: #0e0e0e;

.main-sidebar {
    flex: 1;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $sidebar-theme;
    padding: 25px 15px;
    width: 80px; // width when collapsed
    transition: width 0.3s ease;

    &.extended {
        width: 200px; // width when extended
    }

    img {
        width: 20px;
    }

    .menu {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: block;
        // margin-left: 10px;
        padding: 10px;
        
        cursor: pointer;
    }

    .menu:hover {
        background-color: #2c3335;
    }

    .new-chat {
        height: 40px;
        width: 40px;
        margin-top: 50px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 10px 1px;
        background-color: #4c4b4b;
        border-radius: 50px;
        font-size: 14px;
        color: #dae0e2;

        p {
            display: none;
        }

        img{
            height: 20px;
            width: 20px;
        }
        
    }

    .recent {
        display: none;
        flex-direction: column;

        &.visible {
            display: flex;
        }
    }

    .recent-title {
        margin-top: 30px;
        margin-bottom: 20px;
        color: white;
    }

    .recent-entry {
        display: flex;
        align-items: start;
        gap: 10px;
        padding: 10px;
        // padding-right: 40px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
    }

    .recent-entry:hover {
        background-color: #2c3335;
    }

    .bottom {
        display: flex;
        flex-direction: column;

        .bottom-item {
            height: 40px;
            width: 40px;
            padding-right: 10px;
            cursor: pointer;

            p {
                display: none;
            }
        }
    }

    &.extended {
        .new-chat p {
            display: inline;
        }

        .new-chat{
            height: 45px;
            width: 130px;
            justify-content: start;
            padding-left: 15px;
        }
        

        .recent {
            display: flex;
        }

        .bottom-item p {
            display: inline;
        }

        .bottom-item{
            height: auto;
            width: auto;
            padding-right: 10px;
            cursor: pointer;
        }
    }
}
